.jumbotron{
    color:white;
    background-image: url("inci%2C_from_C2RMF_retouched.jpg/1280px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg");
    background-size: cover;
    background-position:50% 10%;
    height: 50vh;
}